<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Expression of Interest</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
  @page {
size:a4;
margin-top: 0;
margin-left: 0;
margin-right: 0;


@top-center{
content:element(abc);
padding-top:20px;
}

@bottom-center{
content:element(bottom);
}

@top-center{
content:element(abc);
}
}

page-sheet{
display:block;
page-break-after:always;
}

body{
margin:0;
font-family:Inter;
}

commonbottom div span::after{
content:'0'counter(page);
}



        .container {
            margin: 0px auto;
          background-color:#fff;
          position:relative;
          height:1121.2px;
        }

        .table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            table-layout: fixed;
          background-color: white;
        }

        .table1 {
            padding-left: 40px;
            background-color: white;
          padding-right:40px;
        }

        .table2 {
            padding-left: 40px;
            background-color: white;
        }
 
      .bordertd1{
         border-top: 3px solid #167CBA;
         border-bottom: 3px solid #167CBA;
        background: #167CBA;
        padding:0;
        width:67%;
      }
      .bordertd{
         border-top: 3px solid #D57626;
         border-bottom:3px solid #D57626;
         padding:0;
         background: #D57626;
      }

        .logo {
            width:110px;
            height: 40px;
        }

        .section-title {
            font-size: 10px;
            font-weight: 700;
            color: #167CBA;
            margin-top: 20px;
        }

        .section-keys{
            font-size: 10px;
            font-weight: 400;
            line-height:10px;
            color:#000;
        }

        .section-values{
            font-size: 10px;
            font-weight: 600;
            line-height:10px;
            color:#000;
        }

        .section-content {
            background-color: #F7F7F7;
            border-radius: 2px;
            padding: 1px 15px;
            font-size: 14px;
            font-weight: 400;
            color: #000000;
        }
      
        .section-content-image {
            background-color: #F7F7F7;
            border-radius: 2px;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 400;
            color: #000000;
        }
      
        .section-content-div {
            background-color: #F7F7F7;
            border-radius: 2px;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 400;
            color: #000000;
        } 

        .section-content span {
            font-weight: 600;
            color: #000000;
            margin-left: 5px;
        }

        .section-details{
          padding-left:15px;
           padding-top:8px; 
           padding-bottom:8px; 
           width:50%; 
           font-weight:400;
            font-size:10px; 
            line-height:10px; 
            color:#000;
        }

        .footer {
            background-color:#e5e5e5;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-left: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
            padding: 10px;
            color: rgba(51, 51, 51, 0.8);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.14px;
          text-align:center;
        }

        .footer a {
            text-decoration-line: underline;
            font-weight: 500;
        }
      .div{
        margin-left:-2px;
      }
      .grid{
        margin-right:-2px;
      }

        @media (max-width: 767px) {
            .container {
                width: 90%;
            }
        }
    </style>
</head>
<body>

    <commonElement style="position:running(abc); ">
        <table class="table" >
            <tr>
                    <td class="bordertd" ></td>
                    <td class="bordertd1"></td>
                </tr>
          </table>
</commonElement>
<commonbottom style="position:running(bottom);  margin-right:40px;">
        <#if strategicImageUrl??>
            <div style="float:right;">
                <!--<img src="https://dev.modlix.com/api/files/static/file/SYSTEM/logo.png" alt="project logo" style="height:14px; width:15px; margin-right:10px;  border:1px solid green; "/>-->
            <img src=${strategicImageUrl} alt="Strategic logo" style="height:14px; width:52x; margin-right:14px;"/>
            <span style="font-weight:700; font-size:14px; line-height:14px; border-left-width:1px; border-left-style:solid; border-left-color:#000; padding-left:7px; height:14px;"></span>
            </div>
        </#if>
        </commonbottom>



        <page-sheet style="margin-top:30px;">
            <div >
                <table class="table" >
        
                    <tr>
                        <td colspan="2" style="padding-top:30px;">
                            <table style="width: 100%;" class="table1">
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="section-content grid">
                                            <img src=${projectImageUrl} class="logo" />
                                            <img src=${builderImageUrl} class="logo" />
                                        </div>
                                    </td>
                                    <td style="width: 50%; text-align: right;">
                                        <#if strategicImageUrl??>
                                            <div class="section-content div">
                                                <img src=${strategicImageUrl} class="logo" />
                                            </div>
                                        </#if>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;">
                                        <div style="background-color: #F3F8FC; padding:10px; border-radius: 2px; margin-top: 2px;">
                                            <p style="font-size: 16px; font-weight: 600; line-height: 16px; color: #000000;font-family:Poppins;">Booking form application</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                        <td>
                            <p class="section-title">BOOKING DETAILS</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Date Of booking: <span class="section-values">${bookingDate}</span></p>
                            </div>
                        </td>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Booking ID: <span class="section-values">${bookingId}</span></p>
                            </div>
                        </td>
                    </tr>
<tr>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Unit type: <span class="section-values">${unitType}</span></p>
                            </div>
                        </td>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Unit no: <span class="section-values">${unitNumber}</span></p>
                            </div>
                        </td>
                    </tr>
<tr>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Super built area: <span class="section-values">${superBuiltupArea}</span></p>
                            </div>
                        </td>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Facing: <span class="section-values">${facing}</span></p>
                            </div>
                        </td>
                    </tr>
<tr>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Total Unit Cost: <span class="section-values">${totalUnitCost}</span></p>
                            </div>
                        </td>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Car Parking: <span class="section-values">${carParking}</span></p>
                            </div>
                        </td>
                    </tr>
<tr>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Configuration: <span class="section-values">${unitConfiguration}</span></p>
                            </div>
                        </td>
                        <td>
                            <div class="section-content">
                                <p class="section-keys">Floor No: <span class="section-values">${floorNumber}</span></p>
                            </div>
                        </td>
                    </tr>
                                <tr>
                                    <td>
                                        <p class="section-title">SOURCE DETAILS</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="section-content">
                                            <p class="section-keys">Lead Source: <span class="section-values">${source}</span></p>
                                        </div>
                                    </td>
<#if subSource?has_content>
                                    <td>
                                        <div class="section-content">
                                            <p class="section-keys">Sub Source: <span class="section-values">${subSource}</span></p>
                                        </div>
                                    </td>
</#if>
                                </tr>
                            </table>
        
                            <table class="table1" style="width: 100%;">
                                <tr>
                                    <td>
                                        <p class="section-title">APPLICANTS PERSONAL DETAILS</p>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td style="width:65%;" >
                                        <table  style="width: 100%; border-collapse: separate; border-spacing: 0 3px; background-color: white;height:100%;">
                    
                                            <tr>
                                                <td colspan="2" class="section-content-image" style="padding-right:105px; height:170px; position:relative;">                                                 
                                                    <div  style="width:110px; position:absolute; top:15px; right:105px;">
                                                    <p style="color:#000; font-weight:600; font-size:10px; line-height:10px; text-align:center;">Applicant</p>
                                                    <img src="${main.userImage}" alt="profile image" style="height:110px; width:110px; border-radius:2px;"/>
                                                    </div>
                                                </td>
                                            </tr>
                                             
                                        <tr style="background-color: #F7F7F7;">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Full name<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.fullName}</span></td>
                                        </tr>
                        
                                        <tr style="background-color: #F7F7F7; ">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Aadhar number<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.aadharNumber}</span></td>
                                        </tr>
                        
                                        <tr style="background-color: #F7F7F7; ">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content"> PAN number<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.panNumber}</span></td>
                                        </tr>
                        
                                        <tr style="background-color: #F7F7F7; ">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content"> Gender<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.gender}</span></td>
                                        </tr>
                        
                                        <tr style="background-color: #F7F7F7; ">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Date of Birth<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.dateOfBirth}</span></td>
                                        </tr>
                        
                                        <tr style="background-color: #F7F7F7; ">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content"> Relation<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.relation}</span></td>
                                        </tr>
                        
                                        <tr style="background-color: #F7F7F7; ">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content"> Email ID<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.emailId}</span></td>
                                        </tr>

                                        <tr style="background-color: #F7F7F7; ">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content"> Mobile Number<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.mobileNumber}</span></td>
                                        </tr>
                                        </table>
                                    </td>
                                    <td style="width:35%;" >
                    
                                        <table  style="width: 100%; border-collapse: separate; border-spacing: 0 3px; background-color: white; ">
                    
                                            <tr>
                                                <td colspan="2" class="section-content-image" style=" height:170px;">                                                 
                                                    <div  style="width:110px; margin:0 auto;">
                                                    <p style="color:#000; font-weight:600; font-size:10px; line-height:10px; text-align:center;">Co Applicant 1</p>
                                                    <img src="${co1.userImage}" alt="profile image" style="height:110px; width:110px;border-radius:2px;"/>
                                                    </div>
                                                </td>
                                            </tr>
                    
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:9px; padding-bottom:9px;" ><span class="section-keys" style="font-weight:600;">${co1.fullName}</span></td>
                                            </tr>
                    
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600;">${co1.aadharNumber}</span></td>
                                            </tr>
                    
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.panNumber}</span></td>
                                            </tr>
                    
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.gender}</span></td>
                                            </tr>
                    
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.dateOfBirth}</span></td>
                                            </tr>
                    
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.relation}</span></td>
                                            </tr>
                    
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.emailId}</span></td>
                                            </tr>
                                            
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.mobileNumber}</span></td>
                                            </tr>
                    
                                        </table>
                                    </td>
                                </tr>    
                                
                            </table>

                            <table class="table1" style="width:100%">

                                <tr>
                                     <td>
                                         <p class="section-title">APPLICANTS PROFESSIONAL DETAILS</p>
                                     </td>
                                 </tr>

                                 <tr>
                                    <td style="width:65%;" >
                                        <table  style="width: 100%; border-collapse: separate; border-spacing: 0 3px; background-color: white;height:100%;">
                            
                                        <tr style="background-color: #F7F7F7;">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Profession type<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.professionType}</span></td>
                                        </tr>
                            
                                        <tr style="background-color: #F7F7F7;">
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Company name<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                                            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.companyName}</span></td>
                                        </tr>
                            
                         

                                        </table>
                                    </td>
                                    <td style="width:35%" >
                            
                                        <table  style="width: 100%; border-collapse: separate; border-spacing: 0 3px;background-color: white; height:100%;">
                            
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600;">${co1.professionType}</span></td>
                                            </tr>
                            
                                            <tr style="background-color: #F7F7F7; ">
                                                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600;">${co1.companyName}</span></td>
                                            </tr>
                            
                           
                                        </table>
                                    </td>
                                </tr>

                            </table>
                            
                            </table>
                        </td>
                    </tr>
        
                </table>
        
        
            </div>
        </page-sheet>

  
  
  
  
  
  
  
  
  
  <page-sheet style="margin-top:40px;">


  <div>


    <table class="table1" style="width:100%">



        <tr>
        <td style="width:65%;" >
            <table  style="width: 100%; border-collapse: separate; border-spacing: 0 3px; background-color: white;height:100%;">



            <tr style="background-color: #F7F7F7;">
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Designation<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.designation}</span></td>
            </tr>

            <tr style="background-color: #F7F7F7; ">
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Office address<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.officeAddress}</span></td>
            </tr>

            <tr style="background-color: #F7F7F7; ">
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Pin code<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.pinCode}</span></td>
            </tr>

            <tr style="background-color: #F7F7F7; ">
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">State<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.state}</span></td>
            </tr>

            <tr style="background-color: #F7F7F7; ">
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Industry<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.industry}</span></td>
            </tr>

            <tr style="background-color: #F7F7F7; ">
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content"> Function<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.function}</span></td>
            </tr>

            <tr style="background-color: #F7F7F7; ">
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Annual Income (INR)<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
                <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${main.annualIncome}</span></td>
            </tr>
            </table>
        </td>
        <td style="width:35%" >

            <table  style="width: 100%; border-collapse: separate; border-spacing: 0 3px;background-color: white; height:100%;">



                <tr style="background-color: #F7F7F7; ">
                    <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600;">${co1.designation}</span></td>
                </tr>

                <tr style="background-color: #F7F7F7; ">
                    <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600;">${co1.officeAddress}</span></td>
                </tr>

                <tr style="background-color: #F7F7F7; ">
                    <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.pinCode}</span></td>
                </tr>

                <tr style="background-color: #F7F7F7; ">
                    <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.state}</span></td>
                </tr>

                <tr style="background-color: #F7F7F7; ">
                    <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.industry}</span></td>
                </tr>

                <tr style="background-color: #F7F7F7; ">
                    <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.function}</span></td>
                </tr>

                <tr style="background-color: #F7F7F7; ">
                    <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co1.annualIncome}</span></td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td>
            <p class="section-title">OTHER APPLICANT PERSONAL DETAILS</p>
        </td>
    </tr>

    <tr>
       
        <tr>
            <td colspan="2" class="section-content-image" style="padding-right:105px; height:170px; position:relative;">                                                 
                <div  style="width:110px; position:absolute; top:15px; right:105px;">
                  <p style="color:#000; font-weight:600; font-size:10px; line-height:10px; text-align:center;">Co Applicant 2</p>
                   <img src="${co2.userImage}" alt="profile image" style="height:110px; width:110px;"/>
                </div>
            </td>
        </tr>


        <table class="table1" style="width: 100%; border-collapse: separate; border-spacing: 0 3px;">
          <tr style="background-color: #F7F7F7;">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Full name<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.fullName}</span></td>
          </tr>

          <tr style="background-color: #F7F7F7; ">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Aadhar number<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.aadharNumber}</span></td>
          </tr>

          <tr style="background-color: #F7F7F7; ">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content"> PAN number<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.panNumber}</span></td>
          </tr>

          <tr style="background-color: #F7F7F7; ">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content"> Gender<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.gender}</span></td>
          </tr>

          <tr style="background-color: #F7F7F7; ">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Date of Birth<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.dateOfBirth}</span></td>
          </tr>

          <tr style="background-color: #F7F7F7; ">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content"> Mobile number<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.mobileNumber}</span></td>
          </tr>

          </tr>

        </table>
        <p class="section-title" style="margin-left:40px;">OTHER APPLICANTS PROFESSIONAL DETAILS</p>

        <table class="table1" style="width: 100%; border-collapse: separate; border-spacing: 0 3px;">
          <tr style="background-color: #F7F7F7;">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Profession type<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.professionType}</span></td>
          </tr>

          <tr style="background-color: #F7F7F7; ">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Company name<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.companyName}</span></td>
          </tr>

          <tr style="background-color: #F7F7F7; ">
            <td  style="padding-left:15px; padding-top:8px; acpadding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Designation<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.designation}</span></td>
          </tr>

          <tr style="background-color: #F7F7F7; ">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Office address<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.officeAddress}</span></td>
          </tr>   

          <tr style="background-color: #F7F7F7; ">
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Pin code<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
            <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.pinCode}</span></td>
          </tr>
        </table>
    </tr>  



    






    
    </table>
    </div>
  
</page-sheet>





<page-sheet style="margin-top:40px;">

    <table class="table1" style="width: 100%; border-collapse: separate; border-spacing: 0 3px;">

        <tr style="background-color: #F7F7F7; ">
          <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">State<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
          <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.state}</span></td>
        </tr>

        <tr style="background-color: #F7F7F7; ">
          <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Industry<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
          <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.industry}</span></td>
        </tr>

        <tr style="background-color: #F7F7F7; ">
          <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Function<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
          <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.function}</span></td>
        </tr>

        <tr style="background-color: #F7F7F7; ">
          <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px; width:40%; font-weight:400; font-size:10px; line-height:10px; color:#000; " class="section-content">Annual Income (INR)<span style="margin-left:99px; float:right" class="section-keys">:</span></td>
          <td  style="padding-left:15px; padding-top:8px; padding-bottom:8px;" ><span class="section-keys" style="font-weight:600">${co2.annualIncome}</span></td>
        </tr>
      </table>

   



  <table class="table1" style="width:100%;">


    <p class="section-title" style="margin-left:40px;">TERMS AND CONDITIONS</p>
    <div style="padding-left:40px; padding-right:40px; margin-bottom:2px;">
              <div class="section-content"  style = "padding-top:5px">
                <#list termsAndConditions as item>
  ${item?index + 1}. ${item}<br>
</#list>
                          </div>
        </div>


</table>
<table style="width:50%;margin-left:40px;" class="table">
      
           
    <tr>
        <td>
            <div class="section-content">
              <p style="margin-left:40px;">{{Signature}}</p>
            </div>
        </td>

    </tr>
    <tr>
        <td>
            <div class="section-content">
                <p class="section-keys">Date : <span class="section-values">{{Signdate}}</span></p>
            </div>
        </td>

    </tr>
</table>  
</page-sheet>
  
  
  



    


  
</body>
</html>